# Dependencies
node_modules/
.venv/

# Build and Output
dist/
build/
*.log

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Python caches and tests
__pycache__/
*.py[cod]
.pytest_cache/