{
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 120,
    "proseWrap": "never",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": "*.{json,md,yml,yaml}",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "openwiki/**",
            "options": {
                "requirePragma": true
            }
        }
    ]
}
