{
    "arrowParens": "always",
    "bracketSameLine": false,
    "htmlWhitespaceSensitivity": "css",
    "quoteProps": "as-needed",
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 120,
    "tabWidth": 4,
    "semi": false,
    "proseWrap": "never",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "singleAttributePerLine": false,
    "overrides": [
        {
            "files": "*.{json,md,yml,yaml}",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "openwiki/**",
            "options": {
                "requirePragma": true
            }
        }
    ]
}
