.impressum-content {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    gap: 2rem;
}

.impressum-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-block-end: 2em;
}

.impressum-section h2 {
    margin-block-end: 0.5em;
}

.impressum-section h2,
.impressum-section p {
    margin: 0;
}